:root {
  --primary: #99FAE6;
  --secondary: #F06449;
  --white-smoke: #F3F3F3;
  --grey: #ABABAB;
  --black: #202A25;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  text-align: center;
}

a:not(.landing-link), a:visited {
  color: var(--black);
  opacity: .7;
}

a:hover {
  opacity: 1;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-size: 2rem;
  font-weight: 700;
}
