.line {
  position: relative;
}

.line:hover::before {
  display: block;
  content: "";
  position: absolute;
}

@keyframes pulse-vertical {
  0% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  10% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  20% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  30% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  40% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  50% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  60% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  70% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  80% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  90% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0)
    );
  }
  100% {
    background: linear-gradient(
      to bottom,
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 1),
      rgba(153, 250, 230, 0.8),
      rgba(153, 250, 230, 0.4),
      rgba(153, 250, 230, 0.2),
      rgba(153, 250, 230, 0)
    );
  }
}

.line.bottom:hover::before {
  bottom: -80px;
  left: calc(50% - 1px);
  height: 80px;
  width: 2px;
  animation: pulse-vertical 1200ms 5;
}

.line.top:hover::before {
  top: -80px;
  left: calc(50% - 1px);
  height: 80px;
  width: 2px;
  animation: pulse-vertical 1200ms 5 reverse;
}

.line.dark:hover::before {
  filter: brightness(.8) saturate(90%);
  -webkit-filter: brightness(.8) saturate(90%);
}
